In [1]:
# Import dependencies.
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Load the data.
file_path = Path('Resources/SQGDP2_BEA.csv')
df = pd.read_csv(file_path)

In [3]:
#Preview the data.

df.head()

,GeoFips,GeoName,LineCode,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,0,United States *,1.0,All industry total,19148194,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,0,United States *,2.0,Private industries,16730594,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,0,United States *,3.0,"Agriculture, forestry, fishing and hunting",180896,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,0,United States *,6.0,"Mining, quarrying, and oil and gas extra...",261010,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,0,United States *,10.0,Utilities,305189,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917

In [4]:
#Check data types.
df.dtypes

GeoFips         object
GeoName         object
LineCode       float64
Description     object
2017:Q1         object
2017:Q2         object
2017:Q3         object
2017:Q4         object
2018:Q1         object
2018:Q2         object
2018:Q3         object
2018:Q4         object
2019:Q1         object
2019:Q2         object
2019:Q3         object
2019:Q4         object
2020:Q1         object
2020:Q2         object
2020:Q3         object
2020:Q4         object
dtype: object

In [5]:
#Discover all columns in DataFrame.
df.columns.to_list()

['GeoFips',
 'GeoName',
 'LineCode',
 'Description',
 '2017:Q1',
 '2017:Q2',
 '2017:Q3',
 '2017:Q4',
 '2018:Q1',
 '2018:Q2',
 '2018:Q3',
 '2018:Q4',
 '2019:Q1',
 '2019:Q2',
 '2019:Q3',
 '2019:Q4',
 '2020:Q1',
 '2020:Q2',
 '2020:Q3',
 '2020:Q4']

In [6]:
#Count number of rows.
len(df. index)

1629

In [7]:
#Count number of null values in raw dataset.
df.isna().sum().sum()

132

In [8]:
#Drop Null Values.
new_df = df.dropna()

In [9]:
#Checking number of rows after dropping null values.
len(new_df.index)

1622

In [10]:
#Delete "GeoFips" column.

del new_df['GeoFips']

In [11]:
#Delete "LineCode" column.
del new_df['LineCode']

In [12]:
# Display new DataFrame. 
new_df.head()

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,United States *,All industry total,19148194,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,United States *,Private industries,16730594,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,United States *,"Agriculture, forestry, fishing and hunting",180896,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,United States *,"Mining, quarrying, and oil and gas extra...",261010,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,United States *,Utilities,305189,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917

In [13]:
#Drop rows where year column has data with 'D' in it. Making a copy to not interfere with the new DataFrame.
df2= new_df

# Fiscal Year 2017(Quarter 1 - Quarter4)
df2.drop(df2[df2['2017:Q1'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2017:Q2'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2017:Q3'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2017:Q4'] == '(D)'].index,inplace = True)

# Fiscal Year 2018(Quarter 1 - Quarter4)
df2.drop(df2[df2['2018:Q1'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2018:Q2'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2018:Q3'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2018:Q4'] == '(D)'].index,inplace = True)

# Fiscal Year 2019(Quarter 1 - Quarter4)
df2.drop(df2[df2['2019:Q1'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2019:Q2'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2019:Q3'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2019:Q4'] == '(D)'].index,inplace = True)

# Fiscal Year 2020(Quarter 1 - Quarter4)
df2.drop(df2[df2['2020:Q1'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2020:Q2'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2020:Q3'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2020:Q4'] == '(D)'].index,inplace = True)

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
len(df2.index)

1578

In [15]:
#Display first 10 rows of the copy of DataFrame. 
df2.head(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,United States *,All industry total,19148194,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,United States *,Private industries,16730594,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,United States *,"Agriculture, forestry, fishing and hunting",180896,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,United States *,"Mining, quarrying, and oil and gas extra...",261010,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,United States *,Utilities,305189,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917
5,United States *,Construction,787277,791550,804380,819325,833156,842268,851676,862064,886774,899794,912702,916731,918090,849817,895946,913630
6,United States *,Manufacturing,2144372,2170016,2211211,2273057,2296128,2326099,2346294,2371548,2343830,2368369,2379602,2383827,2321514,2052715,2294985,2297812
7,United States *,Durable goods manufacturing,1207966,1221976,1242627,1269978,1280906,1292876,1307066,1316496,1327871,1330330,1326999,1327190,1304756,1144213,1322170,1324511
8,United States *,Nondurable goods manufacturing,936406,948040,968584,1003078,1015222,1033222,1039228,1055052,1015958,1038039,1052603,1056637,1016758,908502,972816,973301
9,United States *,Wholesale trade,1145406,1157362,1169944,1190205,1194270,1208863,1221869,1244484,1266097,1267335,1287833,1288530,1289834,1151064,1304536,1314349

In [16]:
#Display last 10 rows of the copy of DataFrame. 
df2.tail(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
1613,Far West,Administrative and support and waste man...,110271.8,112545.4,115380.2,115795.4,115482.1,116892.8,119084.9,121814.6,121702.4,123388.9,126316.1,127226.4,128929.6,109817.4,121519.1,125408.3
1614,Far West,Educational services,38080,38247.2,38356.4,38737.7,39648.4,40299.6,40867.3,41747.5,42349.3,43005.9,43722.7,43474.1,42717.2,37683.2,39611.9,38527.9
1615,Far West,Health care and social assistance,244644.8,246212.4,250036.2,252599.4,257750.2,259973.9,262369.6,265334.9,269364.1,273380.6,278258,286133.6,288829.7,251110,296343.3,303624.8
1616,Far West,"Arts, entertainment, and recreation",50949.1,50555.3,52352.8,52687.2,53576.4,56238.6,56464.3,56415.5,57932,58479.1,60221.3,61426.2,56367.9,25035.3,33981.6,39992.1
1617,Far West,Accommodation and food services,136697.2,140737,143733.6,143409.7,143197.5,146545.5,149297.5,151807.7,148590.7,155094.1,159034.1,158389.7,139504.1,79906.8,113318.9,128762.3
1618,Far West,Other services (except government and go...,72141.3,73476.7,76349.7,75793.1,77178.6,78549.6,78666.4,79629.3,79794,80332.4,82180.6,83529.5,80862.2,63716.2,73213.7,75984.1
1619,Far West,Government and government enterprises,461688.2,464162.5,467461.8,473213.8,478751.8,483487.2,486320.4,495649.4,493495.8,498213.4,502256.3,513543.6,520745.8,505963.3,518962.3,517434.8
1620,Far West,Federal civilian,68109,68633.6,69349.4,70105.5,70763,71459.4,71987,72399.8,72813.8,73113.9,73573.3,74104,75313.8,76480.1,79951.7,79084.5
1621,Far West,Military,46253.3,45748.9,45465.9,45039.5,43241.8,43024.4,43182.3,43101.2,43173.4,43455.8,43578.6,44007.2,44239.1,45571.9,45699.4,46155.5
1622,Far West,State and local,347325.9,349780,352646.6,358068.9,364747.1,369003.4,371151.1,380148.4,377508.6,381643.8,385104.3,395432.4,401192.9,383911.3,393311.3,392194.8

In [17]:
# Check datatypes.
df2.dtypes

GeoName        object
Description    object
2017:Q1        object
2017:Q2        object
2017:Q3        object
2017:Q4        object
2018:Q1        object
2018:Q2        object
2018:Q3        object
2018:Q4        object
2019:Q1        object
2019:Q2        object
2019:Q3        object
2019:Q4        object
2020:Q1        object
2020:Q2        object
2020:Q3        object
2020:Q4        object
dtype: object

In [18]:
#Remove all "E"s from columns and replacing them in the Dataframe.

# Fiscal Year 2017(Quarter 1 - Quarter4)
df2['2017:Q1'] = df2['2017:Q1'].str.replace('E','')
df2['2017:Q2'] = df2['2017:Q2'].str.replace('E','')
df2['2017:Q1'] = df2['2017:Q3'].str.replace('E','')
df2['2017:Q1'] = df2['2017:Q4'].str.replace('E','')

# Fiscal Year 2018(Quarter 1 - Quarter4)
df2['2018:Q1'] = df2['2018:Q1'].str.replace('E','')
df2['2018:Q2'] = df2['2018:Q2'].str.replace('E','')
df2['2018:Q3'] = df2['2018:Q3'].str.replace('E','')
df2['2018:Q4'] = df2['2018:Q4'].str.replace('E','')

# Fiscal Year 2019(Quarter 1 - Quarter4)
df2['2019:Q1'] = df2['2019:Q1'].str.replace('E','')
df2['2019:Q2'] = df2['2019:Q2'].str.replace('E','')
df2['2019:Q3'] = df2['2019:Q3'].str.replace('E','')
df2['2019:Q4'] = df2['2019:Q4'].str.replace('E','')

# Fiscal Year 2020(Quarter 1 - Quarter4)
df2['2020:Q1'] = df2['2020:Q1'].str.replace('E','')
df2['2020:Q2'] = df2['2020:Q2'].str.replace('E','')
df2['2020:Q3'] = df2['2020:Q3'].str.replace('E','')
df2['2020:Q4'] = df2['2020:Q4'].str.replace('E','')

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
len(df2.index)

1578

In [20]:
#Display first 10 rows of the copy of DataFrame. 
df2.head(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,United States *,All industry total,19894750,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,United States *,Private industries,17414850,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,United States *,"Agriculture, forestry, fishing and hunting",172445,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,United States *,"Mining, quarrying, and oil and gas extra...",299704,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,United States *,Utilities,316337,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917
5,United States *,Construction,819325,791550,804380,819325,833156,842268,851676,862064,886774,899794,912702,916731,918090,849817,895946,913630
6,United States *,Manufacturing,2273057,2170016,2211211,2273057,2296128,2326099,2346294,2371548,2343830,2368369,2379602,2383827,2321514,2052715,2294985,2297812
7,United States *,Durable goods manufacturing,1269978,1221976,1242627,1269978,1280906,1292876,1307066,1316496,1327871,1330330,1326999,1327190,1304756,1144213,1322170,1324511
8,United States *,Nondurable goods manufacturing,1003078,948040,968584,1003078,1015222,1033222,1039228,1055052,1015958,1038039,1052603,1056637,1016758,908502,972816,973301
9,United States *,Wholesale trade,1190205,1157362,1169944,1190205,1194270,1208863,1221869,1244484,1266097,1267335,1287833,1288530,1289834,1151064,1304536,1314349

In [21]:
#Display last 10 rows of the copy of DataFrame. 
df2.tail(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
1613,Far West,Administrative and support and waste man...,115795.4,112545.4,115380.2,115795.4,115482.1,116892.8,119084.9,121814.6,121702.4,123388.9,126316.1,127226.4,128929.6,109817.4,121519.1,125408.3
1614,Far West,Educational services,38737.7,38247.2,38356.4,38737.7,39648.4,40299.6,40867.3,41747.5,42349.3,43005.9,43722.7,43474.1,42717.2,37683.2,39611.9,38527.9
1615,Far West,Health care and social assistance,252599.4,246212.4,250036.2,252599.4,257750.2,259973.9,262369.6,265334.9,269364.1,273380.6,278258,286133.6,288829.7,251110,296343.3,303624.8
1616,Far West,"Arts, entertainment, and recreation",52687.2,50555.3,52352.8,52687.2,53576.4,56238.6,56464.3,56415.5,57932,58479.1,60221.3,61426.2,56367.9,25035.3,33981.6,39992.1
1617,Far West,Accommodation and food services,143409.7,140737,143733.6,143409.7,143197.5,146545.5,149297.5,151807.7,148590.7,155094.1,159034.1,158389.7,139504.1,79906.8,113318.9,128762.3
1618,Far West,Other services (except government and go...,75793.1,73476.7,76349.7,75793.1,77178.6,78549.6,78666.4,79629.3,79794,80332.4,82180.6,83529.5,80862.2,63716.2,73213.7,75984.1
1619,Far West,Government and government enterprises,473213.8,464162.5,467461.8,473213.8,478751.8,483487.2,486320.4,495649.4,493495.8,498213.4,502256.3,513543.6,520745.8,505963.3,518962.3,517434.8
1620,Far West,Federal civilian,70105.5,68633.6,69349.4,70105.5,70763,71459.4,71987,72399.8,72813.8,73113.9,73573.3,74104,75313.8,76480.1,79951.7,79084.5
1621,Far West,Military,45039.5,45748.9,45465.9,45039.5,43241.8,43024.4,43182.3,43101.2,43173.4,43455.8,43578.6,44007.2,44239.1,45571.9,45699.4,46155.5
1622,Far West,State and local,358068.9,349780,352646.6,358068.9,364747.1,369003.4,371151.1,380148.4,377508.6,381643.8,385104.3,395432.4,401192.9,383911.3,393311.3,392194.8

In [22]:
#Dropping all rows with all 0 values in the DataFrame. 

# Fiscal Year 2017(Quarter 1 - Quarter4)
df2.drop(df2[df2['2017:Q1'] == '0'].index,inplace = True)
df2.drop(df2[df2['2017:Q2'] == '0'].index,inplace = True)
df2.drop(df2[df2['2017:Q3'] == '0'].index,inplace = True)
df2.drop(df2[df2['2017:Q4'] == '0'].index,inplace = True)

# Fiscal Year 2018(Quarter 1 - Quarter4)
df2.drop(df2[df2['2018:Q1'] == '0'].index,inplace = True)
df2.drop(df2[df2['2018:Q2'] == '0'].index,inplace = True)
df2.drop(df2[df2['2018:Q3'] == '0'].index,inplace = True)
df2.drop(df2[df2['2018:Q4'] == '0'].index,inplace = True)

# Fiscal Year 2019(Quarter 1 - Quarter4)
df2.drop(df2[df2['2019:Q1'] == '0'].index,inplace = True)
df2.drop(df2[df2['2019:Q2'] == '0'].index,inplace = True)
df2.drop(df2[df2['2019:Q3'] == '0'].index,inplace = True)
df2.drop(df2[df2['2019:Q4'] == '0'].index,inplace = True)

# Fiscal Year 2020(Quarter 1 - Quarter4)
df2.drop(df2[df2['2020:Q1'] == '0'].index,inplace = True)
df2.drop(df2[df2['2020:Q2'] == '0'].index,inplace = True)
df2.drop(df2[df2['2020:Q3'] == '0'].index,inplace = True)
df2.drop(df2[df2['2020:Q4'] == '0'].index,inplace = True)

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
len(df2.index)

1577

In [24]:
#The removal of commas from all rows in the DataFrame. 

# Fiscal Year 2017(Quarter 1 - Quarter4)
df2['2017:Q1'] = df2['2017:Q1'].str.replace(',','')
df2['2017:Q2'] = df2['2017:Q2'].str.replace(',','')
df2['2017:Q1'] = df2['2017:Q3'].str.replace(',','')
df2['2017:Q1'] = df2['2017:Q4'].str.replace(',','')

# Fiscal Year 2018(Quarter 1 - Quarter4)
df2['2018:Q1'] = df2['2018:Q1'].str.replace(',','')
df2['2018:Q2'] = df2['2018:Q2'].str.replace(',','')
df2['2018:Q3'] = df2['2018:Q3'].str.replace(',','')
df2['2018:Q4'] = df2['2018:Q4'].str.replace(',','')

# Fiscal Year 2019(Quarter 1 - Quarter4)
df2['2019:Q1'] = df2['2019:Q1'].str.replace(',','')
df2['2019:Q2'] = df2['2019:Q2'].str.replace(',','')
df2['2019:Q3'] = df2['2019:Q3'].str.replace(',','')
df2['2019:Q4'] = df2['2019:Q4'].str.replace(',','')

# Fiscal Year 2020(Quarter 1 - Quarter4)
df2['2020:Q1'] = df2['2020:Q1'].str.replace(',','')
df2['2020:Q2'] = df2['2020:Q2'].str.replace(',','')
df2['2020:Q3'] = df2['2020:Q3'].str.replace(',','')
df2['2020:Q4'] = df2['2020:Q4'].str.replace(',','')

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
#Display first 10 rows of the copy of DataFrame. 
df2.head(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,United States *,All industry total,19894750,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,United States *,Private industries,17414850,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,United States *,"Agriculture, forestry, fishing and hunting",172445,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,United States *,"Mining, quarrying, and oil and gas extra...",299704,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,United States *,Utilities,316337,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917
5,United States *,Construction,819325,791550,804380,819325,833156,842268,851676,862064,886774,899794,912702,916731,918090,849817,895946,913630
6,United States *,Manufacturing,2273057,2170016,2211211,2273057,2296128,2326099,2346294,2371548,2343830,2368369,2379602,2383827,2321514,2052715,2294985,2297812
7,United States *,Durable goods manufacturing,1269978,1221976,1242627,1269978,1280906,1292876,1307066,1316496,1327871,1330330,1326999,1327190,1304756,1144213,1322170,1324511
8,United States *,Nondurable goods manufacturing,1003078,948040,968584,1003078,1015222,1033222,1039228,1055052,1015958,1038039,1052603,1056637,1016758,908502,972816,973301
9,United States *,Wholesale trade,1190205,1157362,1169944,1190205,1194270,1208863,1221869,1244484,1266097,1267335,1287833,1288530,1289834,1151064,1304536,1314349

In [26]:
#Display last 10 rows of the copy of DataFrame. 
df2.tail(10)

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
1613,Far West,Administrative and support and waste man...,115795.4,112545.4,115380.2,115795.4,115482.1,116892.8,119084.9,121814.6,121702.4,123388.9,126316.1,127226.4,128929.6,109817.4,121519.1,125408.3
1614,Far West,Educational services,38737.7,38247.2,38356.4,38737.7,39648.4,40299.6,40867.3,41747.5,42349.3,43005.9,43722.7,43474.1,42717.2,37683.2,39611.9,38527.9
1615,Far West,Health care and social assistance,252599.4,246212.4,250036.2,252599.4,257750.2,259973.9,262369.6,265334.9,269364.1,273380.6,278258,286133.6,288829.7,251110,296343.3,303624.8
1616,Far West,"Arts, entertainment, and recreation",52687.2,50555.3,52352.8,52687.2,53576.4,56238.6,56464.3,56415.5,57932,58479.1,60221.3,61426.2,56367.9,25035.3,33981.6,39992.1
1617,Far West,Accommodation and food services,143409.7,140737,143733.6,143409.7,143197.5,146545.5,149297.5,151807.7,148590.7,155094.1,159034.1,158389.7,139504.1,79906.8,113318.9,128762.3
1618,Far West,Other services (except government and go...,75793.1,73476.7,76349.7,75793.1,77178.6,78549.6,78666.4,79629.3,79794,80332.4,82180.6,83529.5,80862.2,63716.2,73213.7,75984.1
1619,Far West,Government and government enterprises,473213.8,464162.5,467461.8,473213.8,478751.8,483487.2,486320.4,495649.4,493495.8,498213.4,502256.3,513543.6,520745.8,505963.3,518962.3,517434.8
1620,Far West,Federal civilian,70105.5,68633.6,69349.4,70105.5,70763,71459.4,71987,72399.8,72813.8,73113.9,73573.3,74104,75313.8,76480.1,79951.7,79084.5
1621,Far West,Military,45039.5,45748.9,45465.9,45039.5,43241.8,43024.4,43182.3,43101.2,43173.4,43455.8,43578.6,44007.2,44239.1,45571.9,45699.4,46155.5
1622,Far West,State and local,358068.9,349780,352646.6,358068.9,364747.1,369003.4,371151.1,380148.4,377508.6,381643.8,385104.3,395432.4,401192.9,383911.3,393311.3,392194.8

In [30]:
#Verifying data types.

df2.dtypes

GeoName        object
Description    object
2017:Q1        object
2017:Q2        object
2017:Q3        object
2017:Q4        object
2018:Q1        object
2018:Q2        object
2018:Q3        object
2018:Q4        object
2019:Q1        object
2019:Q2        object
2019:Q3        object
2019:Q4        object
2020:Q1        object
2020:Q2        object
2020:Q3        object
2020:Q4        object
dtype: object

In [31]:
df2.head()

,GeoName,Description,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4
0,United States *,All industry total,19894750,19304506,19561896,19894750,20155486,20470197,20687278,20819269,21013085,21272448,21531839,21706532,21538032,19636731,21362428,21704706
1,United States *,Private industries,17414850,16872946,17108398,17414850,17645963,17933657,18125465,18245085,18432334,18675663,18901737,19040348,18822568,16979280,18659118,18979774
2,United States *,"Agriculture, forestry, fishing and hunting",172445,178554,169840,172445,177032,181441,169419,169874,156320,155974,160755,164924,177606,132405,159031,179814
3,United States *,"Mining, quarrying, and oil and gas extra...",299704,268065,272807,299704,308078,322567,331543,324038,305706,308686,291336,289004,246406,139449,193578,224812
4,United States *,Utilities,316337,313825,310873,316337,318856,320546,314888,321876,322614,327106,335312,338173,324803,333396,349685,343917

In [32]:
len(df2)

1577

In [33]:
#Exporting cleaned data into new csv file.

df2.to_csv('geo_by_state_cleaned_geographic_data.csv')